
{% extends "AppLacasona/padre.html" %}

{% block titulo %}
    Buscar mails Newsletter
{% endblock %}

{% block titulotexto %}
<h2 style="color: aliceblue;">Buscá los apellidos de quienes se inscribieron al newsletter, necesitas el mail.</h2>
<br>
<form action="/AppLacasona/view_mailfornl/" method="GET">
    
<!--    <p style="color: aliceblue;"> Nombre: <input type="text" name="nombre"> </p> -->
  <!----  <p style="color: aliceblue;"> Apellido: <input type="text" name="apellido"> </p> -->
        <p style="color: aliceblue;"> Email: <input type="text" name="email"> </p> -->
    
    <input type="submit" value="Buscar">
    
    </form>
{% endblock %}